*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'neuehaas';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('./assets/fonts/neuehaas/neuehaas.eot');
  src: url('./assets/fonts/neuehaas/neuehaas.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/neuehaas/neuehaas.woff2') format('woff2'),
    url('./assets/fonts/neuehaas/neuehaas.woff') format('woff'),
    url('./assets/fonts/neuehaas/neuehaas.ttf') format('truetype'),
    url('./assets/fonts/neuehaas/neuehaas.svg#neuehaas') format('svg');
}

@font-face {
  font-family: 'coign';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('./assets/fonts/coign/coign.eot');
  src: url('./assets/fonts/coign/coign.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/coign/coign.woff2') format('woff2'),
    url('./assets/fonts/coign/coign.woff') format('woff'),
    url('./assets/fonts/coign/coign.ttf') format('truetype'),
    url('./assets/fonts/coign/coign.svg#neuehaas') format('svg');
}

body{
  background-color: #191919;
  color: white;
}